--index-url https://download.pytorch.org/whl/cu130
--extra-index-url https://pypi.org/simple

torch
torchvision
onnxruntime-gpu
transformers
scapy
numpy
colorama
requests
tabulate
rich
fastapi
uvicorn
python-multipart
nvidia-ml-py
